<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Passtore - My Password</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin.css" rel="stylesheet">
    <style>
      body{
        line-height: 1em;
      }

      table {
        font-family: "Segoe UI", sans-serif;
        font-size: 0.8rem;
        table-layout: auto;
        width: 100%;
        padding: 5px;
      }

      table.table-password td {
        word-wrap: break-word;         /* All browsers since IE 5.5+ */
        overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
        word-break: break-all;
        margin: auto;
        padding: 3px 5px;
        vertical-align: middle;
        line-height: 1.3;
      }

      .navbar-brand{
        font-family: "Tw Cen MT";
        font-weight: bold;
      }
    </style>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="javascripts/script-dashboard.js"></script>

  </head>

  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">PASSTORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">My passwords</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/configurations">Configurations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
      </ul>
      <span class="navbar-text p-lg-0 pt-sm-2 text-warning">
        <%= user_login %>
      </span>
    </div>
  </nav>

  <div class="row m-auto">
    <h3 class="m-auto text-center p-3 text-capitalize font-weight-light">My passwords</h3>
  </div>

  <div class="row m-auto pr-3 pl-3 pb-3" style="max-width: 1500px">

    <div class="m-auto col-12" style="max-width: 100%; overflow: auto;">

    <table class="table table-password table-striped p-2 table-sm" id="makeEditable">
      <thead>
      <tr>
        <th class="d-none">ID</th>
        <th style="min-width:150px">Website/Service</th>
        <th style="min-width:150px">Login</th>
        <th style="min-width:200px">Password</th>
        <th style="min-width:150px">Comments</th>
        <th name="buttons"></th>
      </tr>
      </thead>
      <tbody id="bodyTable">
      <% if(passwords){ %>
        <% passwords.forEach((raw, index) => { %>
        <tr>
          <td class="idRaw"hidden><%= raw.uuid %></td>
          <td class="websiteRaw"><%= raw.website %></td>
          <td class="loginRaw"><%= raw.login %></td>
          <td class="passwordRaw"><%= raw.password %></td>
          <td class="commentRaw"><%= raw.comment %></td>
          <td class="buttonRaw" name="buttons"></td>
        </tr>
        <% }) %>
      <% } %>
      </tbody>
    </table>
    </div>
    <div class="m-auto col-12 text-center">
      <button id="but_add" class="btn btn-primary">Add raw</button>
      <button id="but_add" class="btn btn-success" onclick="$('#modalEnterKey').modal({show:true})">Decrypt passwords</button>
    </div>
    <span id="demo3"></span>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Passtore > Delete raw</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this raw ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnNO">No</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnYES">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEnterKey" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Passtore > Decript raws</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-label-group">
              <input type="text" id="inputFrontKey" class="form-control" placeholder="The decrypt key" required="required" autofocus="autofocus">
              <label for="inputFrontKey">The decrypt key</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCANCEL" onclick="rowDecryptCancel()">Cancel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnVALID" onclick="rowDecrypt()">Decrypt</button>
        </div>
      </div>
    </div>
  </div>

  </body>

</html>
